<h1>ADD NEW STOCK ITEM BELOW<h1>
  <form method='post' action='/stock/addstock'>
    <label for='item'>Item Name</label>
    <input id='item' type='text' name='name'>
    <label for='manufacturer id'>Manufacturer</label>

  </form>
