

<form method='post' action='/manufacturer/<%=@manufacturer.id%>/update'>
  <label for='name'>Name of Manufacturer</label>
  <input id='name' type='text' name='name' value='<%=@manufacturer.name%>'>
  <br>
  <label for='active'>Active/Inactive</label>
  <select id='active' name='active'>
    <option value='true'>True</option>
    <option value='false'>False</option>
  </select>
  <br>
  <input type='submit' value='SUBMIT CHANGES'>
</form>
